@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @foreach (var product in Model)
    {
        <div>
            <p>Product Id: @product.ProductId</p>
            <p>Product Name: @product.ProductName</p>
            <p>Product Price: @product.Price</p>
            <p>Product Type: @product.ProductType</p>
            <p>Product Stock: @product.IsItCold</p>
            <p>Product Stock: @product.IsItVegan</p>

            <button>
                <a asp-controller="Product" asp-action="EditProduct" asp-route-id="@product.Id">Edit</a>
            </button>

            <button>
                <a asp-controller="Product" asp-action="DeleteProductConfirm" asp-route-id="@product.Id">Delete</a>
            </button>
        </div>
    }
}
